# Serveur Ollama
OLLAMA_HOST=http://serveur-ollama:11434

# Modèle de vision
OLLAMA_VLM_MODEL=modele-vlm

POSTGRES_HOST=postgres_host
POSTGRES_PORT=5432
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db