# Serveur Ollama
OLLAMA_HOST=http://ollama:11434

# Modèle de vision
OLLAMA_VLM_MODEL=qwen3-vl:8b-instruct

# Base de données PostgreSQL
POSTGRES_HOST=pg
POSTGRES_PORT=5432
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db
